<section class="grid w-full min-h-screen grid-cols-2">

  <div class="flex flex-col min-w-1/2 bg-primary">
    <h1>LOGO</h1>
    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
      Nostrum possimus architecto voluptatem voluptatibus rerum vel nemo harum, assumenda atque, 
      aperiam impedit repellendus fuga doloremque laborum, beatae dolore quia ex at.
    </span>
  </div>

  <div class="grid min-h-full min-w-1/2 lg:px-6 bg-accent">
    <div class="place-self-center">
      <div class="flex-col lg:flex-row-reverse">  
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">Login now!</h1>
        </div>
        <app-auth />
      </div>
    </div>
  </div>
</section>
  